footer{
    align-items: center;
    background-color: rgb(248, 248, 248);           
    .footer-continer{
        display: flex;
       padding: 3rem 5rem;
        justify-content: space-between;
        .section-containery{
            align-items: center;
            img{
                width: 190px;
            }
            .ocons{
                display: flex;
                gap: 10px;
                padding: 30px 0;

                i{
                    border: 1px solid rgb(163, 163, 163);
                    padding: 9px;
                    border-radius: 50%;
                    color: rgb(33, 209, 209);
                }
                i:hover{
                    transform: translateY(-8px);
                    color: red;
                }
            }
           
        }
        .section-containeri{
            align-items: center;
            span{
                   position: relative;
                   padding: 5px 0;
            }
            span::after{
                content: " ";
                position: absolute;
                width: 10%;
                height: 3px;
                bottom: 0;
                left: 0;
                transition: all 0.5s ease-in-out;
                background: rgb(33, 209, 209);
            }
            .input{
                display: block;
                align-items: center;
                flex-direction: column;
                padding: 30px 0;
                input{
                    display: block;
                    padding: 10px 20px;
                    background: transparent;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;
                    border: 1px solid gainsboro;
                    color: rgb(156, 153, 153);
                }
                a{
                    align-items: center;
                    background: transparent;               
                    button{
                    padding:10px 33px;
                    outline: none;
                    border-radius: 15px;
                    border: none;
                    background: rgb(33, 209, 209);
                    color: white;
                    text-transform: uppercase;
                    font-size: 15px;
                    
                    }
                    button:hover{
                        transform: translateY(-7px);
                        opacity: 0.8;
                    }
                }
            }
            
        }
        h3{
            color:rgb(33, 209, 209);
            text-transform: capitalize;
        }
        .section-containero{
            h3{
                position: relative;
                padding: 5px 0;
            }
            h3::after{
                content: " ";
                position: absolute;
                width: 18%;
                height: 3px;
                bottom: 0;
                left: 0;
                transition: all 0.5s ease-in-out;
                background: rgb(33, 209, 209);                

            }
            .na-bars{
                display: block;
                padding: 39px 0;
                ul{
                    display: block;
                    li{
                        gap: 20px;
                        display: block;
                        padding: 6px;
                        align-items: center;
                        color: rgb(163, 163, 163);
                        i{
                            padding: 0 5px 0 0;
                        }
                        a{
                            color: rgb(163, 163, 163);
                            padding: 5px 0;
                        }
                        a:hover{
                            border-bottom: 2px solid rgb(33, 209, 209);
                        }
                    }
                }
            }
        }
        .section-containere{
            h3{
                position: relative;
                padding: 5px 0;
            }
            h3::after{
                content: " ";
                position: absolute;
                width: 7%;
                height: 3px;
                bottom: 0;
                left: 0;
                transition: all 0.5s ease-in-out;
                background: rgb(33, 209, 209);                

            }
            .loc{
                display: flex;
                padding: 45px 0 0 0 ;
                i{
                    padding: 0 7px 0 0 ;
                }
                p{
                    align-items: center;
                    color: rgb(156, 153, 153)   ;
                }
            }
            i{
                color: rgb(33, 209, 209);
            }
            .cel{
                display: flex;
                padding: 30px 0 0 0;
                i{
                 padding:4px 5px 25px 0px

                }
                h4{
                    color: rgb(163, 163, 163);
                    font-size: 15px;
                }
            }
            .time{
                display: flex;
                i{
                    padding: 4px 8px 25px 0;
                }
                p{
                    color: rgb(163, 163, 163);
                    font-size: 14px;
                }
            }


        }
    }
    .fulls-end{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0px 2rem;
        .fll-start{
            p{
                color:rgb(163, 163, 163)

            }
            ul{
                display: flex;
                align-items: center;
                gap: 30px;
                li{
                    align-items: center;
                    a{
                        font-size: 14px;
                        color: rgb(90, 88, 88);
                    }
                }
            }
        }
    }
    .jump{
        padding: 20px 2rem;
        p{
            color: rgb(163, 163, 163);
        }
    }
   
}